:root {
  --brading-color: #1b1a18;
  --primary-color: #dedbec84;
  --secundary-color: #ea7116;
  --tertiary-color: #ffffff;
  --fourth-color: #ea7116;
  --title-font-family: "Satisfy", cursive;
  --default-font-family: "Edu NSW ACT Foundation", cursive;
}

body {
  background: var(--brading-color);
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font-family);
  font-weight: bold;
}

h1 {
  color: var(--tertiary-color);
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

h4 {
  color: var(--secundary-color);
  font-size: 30px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

a {
  color: var(--secundary-color);
  text-decoration: none;
}

.portfolio {
  background: url("/images/wallpaper.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.hero {
  text-align: center;
  padding: 70px 20px;
  margin-left: 530px;
}

.hero p {
  color: var(--tertiary-color);
  font-size: 30px;
  font-weight: normal;
}

.hero .firts-name {
  font-family: var(--title-font-family);
  font-size: 80px;
  margin: 0;
  padding: 0;
}

.hero h1 {
  font-family: var(--title-font-family);
  margin-top: -85px;
  color: var(--tertiary-color);
  font-size: 210px;
  font-weight: bold;
  line-height: 1.5;
}

.hero h2 {
  color: var(--tertiary-color);
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 30px;
  line-height: 1.5;
  margin-top: -60px;
}

.btn-branding-outline {
  background: var(--secundary-color);
  border-radius: 4px;
  color: var(--tertiary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 10px 30px;
}

.btn-branding-outline:hover {
  background-color: var(--tertiary-color);
  color: var(--secundary-color);
}

.project-description {
  text-align: center;
  padding: 90px;
}

.content-container {
  padding: 60px 20px;
}

.content {
  margin: 30px;
}

.content h1 {
  color: var(--secundary-color);
  font-size: 65px;
  line-height: 80px;
}

.content h2 {
  color: var(--secundary-color);
  font-size: 20px;
  font-family: var(--default-font-);
}

.content h3 {
  color: var(--tertiary-color);
  font-size: 45px;
  font-family: var(--default-font-family);
  line-height: 1.5;
}

.content p {
  color: var(--tertiary-color);
  font-size: 20px;
}

.contact p a {
  font-size: 25px;
}

.content .work {
  border: 1px solid var(--primary-color);
}

.content .work-details {
  background: var(--primary-color);
}

.content .work-image img {
  width: 460px;
}

.img-logo {
  margin-top: -10px;
  width: 450px;
}

nav {
  text-align: center;
  padding: 20px 0 0;
}

nav a {
  text-decoration: none;
  color: var(--tertiary-color);
  font-size: 22px;
  transition: all 100ms ease-in-out;
}

.portfolio-details nav a {
  color: var(--secundary-color);
}

nav li a:hover,
nav li.active a {
  background: var(--tertiary-color);
  color: var(--secundary-color);
  padding: 10px 10px;
  border-radius: 50%;
}

.portfolio-details nav li a:hover,
nav li.active a {
  background: var(--secundary-color);
  color: var(--tertiary-color);
  padding: 10px 10px;
  border-radius: 50%;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  padding: 0 70px;
}

.skills-learned {
  text-align: center;
}

.skills .skills-icon img {
  margin: 5px;
  width: 50px;
}

footer {
  background: var(--secundary-color);
  text-align: center;
  margin: 60px 0 0;
  padding: 15px;
}

footer a {
  border-radius: 50%;
  color: var(--tertiary-color);
  font-size: 25px;
  margin: 0 20px;
  text-align: center;
  transition: all 200ms ease-in-out;
  padding: 8px 10px;
}

footer a:hover {
  color: var(--secundary-color);
  background: var(--tertiary-color);
}

footer p {
  color: var(--tertiary-color);
  font-size: 16px;
}

footer .logo {
  margin-top: -25px;
}

.logo {
  max-height: 80px;
  margin-top: -15px;
}
/*-------------------------------------------------------*/
@media (max-width: 600px) {
  .portfolio {
    background: url("/images/wallpaper-mobile.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
  }

  nav a:hover,
  nav li.active a {
    background: var(--tertiary-color);
    color: var(--secundary-color);
  }


  .hero {
    text-align: center;
    margin-left: 0;
    padding: 70px 10px 20px;
  }

  .hero p {
    font-size: 25px;
    margin-bottom: 5px;
  }

  .hero .firts-name {
    margin-bottom: 20px;
  }

  .hero h1 {
    font-size: 120px;
  }

  .hero h2 {
    margin-top: -26px;
    font-size: 20px;
  }

  .content {
    margin-top: 20px;
  }

  .content-container {
    text-align: center;
    margin: 5px 0;
    padding: 0;
  }

  .work {
    margin-top: 25px;
  }

  .work .project-description {
    padding: 0 0 10px 0;
    text-align: center;
  }

  .content h1 {
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 10px !important;
  }

  .content h3 {
    font-size: 35px;
  }

  .content p {
    font-size: 15px;
    margin-bottom: 30px !important;
  }

  .img-logo {
    float: none;
    margin-left: 0;
    width: 200px;
  }

  .skills .skills-icon img {
    margin-top: -5px;
    width: 35px;
  }

  nav {
    padding: 5px;
  }

  nav a {
    font-size: 18px;
  }

  nav li {
    padding: 0 5px;
  }

  footer {
    padding: 0px;
  }

  footer .icon {
    margin: auto;
  }

  footer a {
    margin: 0;
    font-size: 12px;
    padding: 8px 5px;
  }

  footer p {
    margin-top: 15px;
    font-size: 5px;
  }

  .logo {
    margin-top: -5px;
    width: 60px;
  }

  footer .logo {
    margin: auto;
  }
}
/*-----------------------------------------------------*/
@media (min-width: 600px) and (max-width: 900px) {
  .portfolio {
    background: url("/images/wallpaper-mobile.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
  }

  nav a:hover,
  nav li.active a {
    background: var(--tertiary-color);
    color: var(--secundary-color);
  }

  nav {
    margin: 10px;
    padding: 5px;
  }

  nav a {
    font-size: 25px;
  }

  nav li {
    padding: 0 25px;
  }

  .logo {
    margin-top: -5px;
    width: 60px;
  }

  h1 {
    font-size: 45px;
    line-height: 56px;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    margin-top: 30px;
    margin-left: 0;
    padding: 30px 10px 20px;
  }

  .hero p {
    font-size: 45px;
    margin-bottom: 15px;
  }

  .hero .firts-name {
    font-size: 120px;
    margin-bottom: 20px;
  }

  .hero h1 {
    font-size: 180px;
    margin-top: -80px;
  }

  .hero h2 {
    margin-top: -46px;
    font-size: 35px;
  }

  .content {
    text-align: center;
    margin: 5px 0;
    padding: 10px;
  }

  .work {
    margin-top: 25px;
  }

  .work .project-description {
    padding: 0 0 10px 0;
    text-align: center;
  }
  .content h1 {
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 10px !important;
  }

  .content p {
    font-size: 20px;
    margin-bottom: 30px !important;
  }

  .content h3 {
    font-size: 35px;
  }

  .content .work-image img {
    float: left;
    width: 460px;
  }

  .img-logo {
    float: none;
    margin-top: 30px;
    margin-left: 0;
    width: 200px;
  }

  .skills-learned {
    margin-bottom: 0 !important;
  }

  footer {
    margin-top: 10px;
    padding: 0;
  }

  footer .icon {
    margin: auto;
  }

  footer a {
    margin: 0;
    font-size: 20px;
    padding: 8px 5px;
  }

  footer p {
    margin-top: 20px;
    font-size: 12px;
  }

  .logo {
    margin-top: -5px;
    width: 60px;
  }

  footer .logo {
    width: 80px;
    margin: auto;
  }
}

